<li class="pricing-card__feature">
    <i class="fa-solid fa-check pricing-card__feature-check" aria-hidden="true"></i>
    <span>All DREVORA features</span>
</li>
<li class="pricing-card__feature">
    <i class="fa-solid fa-check pricing-card__feature-check" aria-hidden="true"></i>
    <span>Unlimited vehicle inspections</span>
</li>
<li class="pricing-card__feature">
    <i class="fa-solid fa-check pricing-card__feature-check" aria-hidden="true"></i>
    <span>Documents &amp; compliance</span>
</li>
<li class="pricing-card__feature">
    <i class="fa-solid fa-check pricing-card__feature-check" aria-hidden="true"></i>
    <span>Mobile Worker App</span>
</li>
<li class="pricing-card__feature">
    <i class="fa-solid fa-check pricing-card__feature-check" aria-hidden="true"></i>
    <span>1 month free trial</span>
</li>
